html, body {
    height: 100%;
    background: #f2f2f2;
}

*, *:before, *:after {
    box-sizing: border-box;
}


/* Controls
---------------------------------------------------------------------- */

.section-dark .nav-pills>li>button, .section-image .nav-pills>li>button {
    color: #999999;
}

.section-dark .nav-pills>li>button:hover, .section-dark .nav-pills>li>button:focus, .section-image .nav-pills>li>button:hover, .section-image .nav-pills>li>button:focus {
    background-color: #EEEEEE;
}

.nav-pills>li>button {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555;
    transition: all .3s;
}

.nav-pills>li>button:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover {
    background-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.nav-pills:not(.nav-pills-icons)>li>a {
    border-radius: 30px;
}

.nav-pills.nav-stacked>li+li {
    margin-top: 5px;
}

.nav-pills.nav-pills-info>li.active>button, .nav-pills.nav-pills-info>li.active>button:focus, .nav-pills.nav-pills-info>li.active>button:hover {
    background-color: #00bcd4;
    box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.nav-pills.nav-pills-success>li.active>button, .nav-pills.nav-pills-success>li.active>button:focus, .nav-pills.nav-pills-success>li.active>button:hover {
    background-color: #4caf50;
    box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.nav-pills.nav-pills-warning>li.active>button, .nav-pills.nav-pills-warning>li.active>button:focus, .nav-pills.nav-pills-warning>li.active>button:hover {
    background-color: #ff9800;
    box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}

.nav-pills.nav-pills-danger>li.active>button, .nav-pills.nav-pills-danger>li.active>button:focus, .nav-pills.nav-pills-danger>li.active>button:hover {
    background-color: #f44336;
    box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}

.nav-pills.nav-pills-rose>li.active>button, .nav-pills.nav-pills-rose>li.active>button:focus, .nav-pills.nav-pills-rose>li.active>button:hover {
    background-color: #e91e63;
    box-shadow: 0 16px 26px -10px rgba(233, 30, 99, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}


/* Pagination Controls
---------------------------------------------------------------------- */

.controls-pagination {
    padding: 1rem;
    font-size: 0.1px;
    text-align: justify;
}

.controls-pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.mixitup-page-list, .mixitup-page-stats {
    display: inline-block;
    vertical-align: middle;
}

.mixitup-page-list {
    text-align: left;
}

.mixitup-page-stats {
    font-size: .9rem;
    color: #333;
    font-weight: bold;
    font-family: 'helvetica', arial, sans-serif;
}

.mixitup-control {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}

.mixitup-control:hover {
    color: #91e6c7;
}

.mixitup-control-active {
    background-color: #ff9800;
    border-color: #ff9800;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(255, 152, 0, 0.14), 0 1px 10px 0 rgba(255, 152, 0, 0.12), 0 2px 4px -1px rgba(255, 152, 0, 0.2);
}

.mixitup-control:disabled {
    background: #eaeaea;
    color: #aaa;
    cursor: default;
}

.mixitup-control-truncation-marker {
    background: transparent;
    pointer-events: none;
    line-height: 2.2em;
}


/* Container
---------------------------------------------------------------------- */

.mixitupcontainer {
    padding: 1rem;
    font-size: 85%;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}


/* Target Elements
---------------------------------------------------------------------- */

.mix, .gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */


/* 2 Columns */

.mix, .gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}


/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix, .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}


/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix, .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}


/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix, .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}
